@font-face {
    font-family:'light';
    src:url(../fonts/Avenir-Light.ttf);
}
@font-face {
    font-family:'roman';
    src:url(../fonts/Avenir-Roman.ttf);
}

@font-face {
    font-family:'avenir';
    src:url(../fonts/Avenir.ttc);
}

@font-face {
    font-family:'heavy';
    src:url(../fonts/Avenir-Heavy.ttf);
}


body.login {
	width: 100% !important;
	height: 100vh;
	overflow-x: hidden; 
}

body.login h1 {
	font-size: 26px;
	color: #fff;
	font-family: roman;
	text-align: center;
	margin-top: 135px;
	margin-bottom: 50px;
	letter-spacing: 1px;
}

body.login h2{
	font-size: 18px;
	letter-spacing: 3px;
	color: #fff;
	font-family: avenir;
	text-align: center;
}

body.login .submit {
	height: 40px;
  	width: 110px;
  	border: 2px solid #D4E9FF;
  	margin: auto;
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 16px;
  	font-family: light;
}


body.login .submit:hover {
	transition: 300ms all;
	background: #D4E9FF;
	color: #091E34;
}

body.login .submit1 {
	height: 40px;
  	width: 110px;
  	border: 2px solid #D4E9FF;
  	margin: auto;
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 16px;
  	font-family: light;
  	padding-top: 5px;
}

body.login .submit1:hover {
	transition: 300ms all;
	background: #D4E9FF;
	color: #091E34;
}

body.login .form-control {
	padding: 15px;
	margin-bottom: 15px;

}

body.login .forgot_psw{
	margin-left: 400px;
	text-align: center; 
}


body.login p{

	font-size: 12px;
	font-family: 'light';
	text-align: center;
}

body.login h4{
	position: relative;
	margin-top: 100px;
	font-size: 13px;
	letter-spacing: 3px;
	color: #fff;
	text-align: center;
	font-family: light;
	margin-bottom: 40px;
	margin-top: 100px;
}

body.login .pass{
	font-size: 11px;
	letter-spacing: 3px;
	color: #fff;
	font-family: 'light';
	text-align: center;
	text-decoration: none; 
}


body.login a {
	text-decoration: none;
}

body.login .cont{
	position: relative;
	letter-spacing: 0px;
	height: 40px;
	width: 110px;
	text-align: center;
	margin: auto;
	margin-bottom: 80px;
}

body.login .inscription{
	width: 100px;
	height: 100px;
  position: absolute;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  font-family: circularbold;
  padding-top: 4px;
  transition: 300ms all;
  margin-top: 20px;
  margin-left: 170px;
  padding-left: 15px;
}

body.login .inscription:hover {
	transition: 300ms all;
	background: #D4E9FF;
	color: #091E34;
}

body.login .continue{
	position: absolute;
	font-family: light;
	position: relative;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	text-decoration: none;
}

body.login .continue a{
	color: #fff !important;
}

body.login .continue:hover a{
	color: #D4E9FF !important;
}


body.login form {
	margin-bottom: 60px;
}

body.login .rectangle {
	height: 3px;
	background-color: #fff;
	margin-bottom: 60px;
	opacity: 0.1;
}

/*
**
*** FILMS ALREADY SEEN STYLE
**
*/

body.login h1{
	margin-top: 100px;
	margin-bottom: 40px;
	font-family: roman;

}

body.login article {
	display: block;
	text-align: center;
}

body.login article img {
	width: 100%;
}

body.login .title {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: light;
	font-size: 15px;

}

body.login .container {
	margin-bottom: 50px;
}

body.login p {
	color: white;
}

