footer {
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #ced1d5;
}
footer a {
	font-family: light;
	color: black;
	position: absolute;
	font-size: 18px;
}
footer .moviedb{
	width: 300px;
	right: 0px;
}

footer .movie{
	color: black;
	font-size: 18px;
}