/*body.home {
    height: 100%;
    background: #ffffff;
}

body.home .carousel, .item, .active {
    height: 100%;
}

body.home .carousel-inner {
    height: 100%;
}

body.home .carousel-control, .carousel-indicators{
    display: none;
}

body.home .back {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
        -webkit-background-size: cover;
            -moz-background-size: cover;
                -o-background-size: cover;
}
 /*css for h1 {middle of carousel.php}*/
/*body.home #title{
    text-align: center;
    z-index: 10;
    color: white;
    background-color: none;
    position: absolute;
    top:45%;
    border: 5px double black;
    padding: 10px;
    border-radius: 45px;
    background: rgba(204, 204, 204, 0.7);
}
/*css for input[type=submit] {bot of carousel.php}*/
/*body.home .submit{
    color: white;
    border: 5px double black;
    padding: 10px;
    border-radius: 25px;
    z-index: 10;
    bottom:20%;
    background: rgba(204, 204, 204, 0.7);
}*/


body.home .backimg{
    position: relative;
    width: 280%;
    -webkit-animation: move 40s infinite;
    -moz-animation: move 40s infinite;
    animation: move 40s infinite;
    animation-play-state:running;
    animation-timing-function: linear;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(0px);
  }
    50% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-moz-keyframes move{
  0% {
    transform: translateX(0px);
  }
    50% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes move{
  0% {
    transform: translateX(0px);
  }
    50% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
body.home{
    overflow-x: hidden;
}

body.home h2 {
    font-size: 32px;
    color: #fff;
    opacity: 0.8;
    font-family: roman;
    text-align: center;
    margin-top: 310px;
    margin-bottom: 70px;
    position: absolute;
    letter-spacing: 8px;
    z-index: 3000;

}
    
body.home .cont{
    position: absolute;
    letter-spacing: 0px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    height: 50px;
    width: 280px;
    text-align: center;
    margin-left: 40%;
    top: 60%;
    border-radius: 4px;
}

body.home .cont:hover {
    transition: 300ms all;
    background: #FFFFFF;
    color: #091E34 !important;
}

body.home .cont:hover h5{
    color: #091E34 !important;
    text-decoration: none;
}

body.home .cont h5{
    font-size: 25px !important;
    text-decoration: none;
}

body.home .inscription{

    position: absolute;
    text-align: center;
    color: #FFFFFF !important;
    font-family: heavy;
    text-decoration: none;
    margin-left: -115px;

}

body.home .inscription:hover {
    color: #091E34;
    text-decoration: none;
}