@font-face {
    font-family:'light';
    src:url(../fonts/Avenir-Light.ttf);
}
@font-face {
    font-family:'roman';
    src:url(../fonts/Avenir-Roman.ttf);
}

@font-face {
    font-family:'avenir';
    src:url(../fonts/Avenir.ttc);
}

@font-face {
    font-family:'heavy';
    src:url(../fonts/Avenir-Heavy.ttf);
}

/*
**
*** SIGN UP PAGE STYLE
**
*/

body.sign_in {
	width: 100% !important;
	height: 100vh;
	overflow-x: hidden;
}

body.sign_in h1 {
	font-size: 26px;
	letter-spacing: 1px;
	color: #fff;
	font-family: roman;
	text-align: center;
	margin-top: 110px;
}

body.sign_in h2{
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
	font-family: avenir;
	text-align: center;
	margin-top: 10px;
}

body.sign_in h3{
	margin-top: 40px;
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	font-family: light;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}

body.sign_in .form-control {
	padding: 15px;
}

body.sign_in p{
	font-size: 12px;
	font-family: light;
	text-align: center;
}



body.sign_in .pass{
	font-size: 15px;
	letter-spacing: 3px;
	color: #fff;
	font-family: 'light';
	text-align: center;
	text-decoration: none;
	margin-bottom: 15px; 
}

body.sign_in a {
	text-decoration: none;
}

body.sign_in p {
	color: #fff;
}

body.sign_in label {
	color: #fff;
	font-family: 'light';
	opacity: 0.8;
}

body.sign_in .errors {
	color: red;
	font-family: light;
	text-align: center;
}


body.sign_in .submit {
	height: 40px;
  	width: 110px;
  	border: 2px solid #D4E9FF;
  	margin: auto;
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 16px;
  	font-family: light;
  	padding-top: 5px;
}

body.sign_in .submit:hover {
	transition: 300ms all;
	background: #D4E9FF;
	color: #091E34;
}
body.sign_in .cont{
	position: relative;
	letter-spacing: 0px;
	height: 40px;
	width: 110px;
	text-align: center;
	margin: auto;
	margin-bottom: 80px;
}

body.sign_in .inscription{
	width: 100px;
	height: 100px;
  	position: absolute;
  	text-align: center;
  	color: #FFFFFF;
  	font-size: 18px;
  	font-family: light;
  	padding-top: 4px;
  	transition: 300ms all;
  	margin-top: 20px;
  	margin-left: 170px;
  	padding-left: 15px;
}

body.sign_in .inscription:hover {
	transition: 300ms all;
	background: #D4E9FF;
	color: #091E34;
}

body.sign_in .continue{
	position: absolute;
	font-family: roman;
	position: relative;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	text-decoration: none;
}

body.sign_in .continue a{
	color: #fff !important;
}

body.sign_in .continue:hover a{
	color: #D4E9FF !important;
}

body.sign_in form {
	margin-bottom: 40px;
}

body.sign_in .rectangle {
	height: 3px;
	background-color: #fff;
	margin-bottom: 30px;
	opacity: 0.1;
}
