body.legal_notices h1{
  margin-top: 100px;
  font-family: Avenir;
  font-size: 18px;
  color: white;

}
body.legal_notices h2{
  font-family: Avenir;
  font-size: 16px;
  color: white;
}
body.legal_notices p{
  font-family: Avenir;
  font-size: 14px;
  color: white;
}
body.legal_notices li{
  font-family: Avenir;
  font-size: 14px;
  color: #fff;
}
