@font-face {
    font-family:'light';
    src:url(../fonts/Avenir-Light.ttf);
}

@font-face {
    font-family:'roman';
    src:url(../fonts/Avenir-Roman.ttf);
}

@font-face {
    font-family:'avenir';
    src:url(../fonts/Avenir.ttc);
}

@font-face {
    font-family:'heavy';
    src:url(../fonts/Avenir-Heavy.ttf);
}


/*
** CONTENT DESIGN
*/ 

body.movie_suggestions .start {
  margin-bottom: 50px;
}
body.movie_suggestions p {
  color: white;
  font-size: 20px;
  text-align: center;
}
body.movie_suggestions h2 {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
  font-family: 'heavy';
}

body.movie_suggestions .situation {
  margin-bottom: 50px;
  text-align: center;
  margin-right: -100px;
  margin-left: 8.5%;
}

body.movie_suggestions .caractere{
  margin-bottom: 50px;
  text-align: center;
  margin-left: -100px;
}


@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

body.movie_suggestions .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #3c4a59;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-left: 20px;
  z-index: 2;
}



body.movie_suggestions .option-input:hover{
    color: #840032!important;
    background-color: #CC263A;
}


body.movie_suggestions .option-input:checked {
    color: #840032 !important;
  background-color: #CC263A;
}

body.movie_suggestions .option-input.radio {
  border-radius: 4px;
}
body.movie_suggestions .option-input.radio::after {
  border-radius: 4px;
}

body.movie_suggestions{
  font-family: 'light';
  text-align: center;
}

body.movie_suggestions label {
  position: relative;
  display: block;
  line-height: 40px;
  text-align: center;
  font-family: heavy;
  font-size: 16px;
  color: #fff;
  z-index: 2000;
  margin-left: 20px;
  text-decoration: none;
  pointer-events: none;
  top: -45px;
}

/*
** SUBMIT BUTTON
*/

body.movie_suggestions .button {
  text-align: center;

}


body.movie_suggestions .btn {
/*  position: absolute;
  text-align: center;
  margin: auto;*/
  height: 50px;
  width: 150px;

}

body.movie_suggestions .submit {
  height: 40px;
    width: 110px;
    border: 2px solid #D4E9FF;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-family: heavy;
    /*line-height: 20px;*/
}


body.movie_suggestions .submit:hover {
  transition: 300ms all;
  background: #D4E9FF;
  color: #091E34;
}
