@font-face {
    font-family: circularbold;
    src: url(../fonts/circularbold.otf);
}
@font-face {
    font-family: circularbook;
    src: url(../fonts/circularbook.ttf);
}
body.selection{
	/*overflow: hidden;*/
}

body.selection .img-responsive{
	width: 350px;
	margin-top: 70px;
	margin-bottom: 90px;
	margin-left: 150px;
}

body.selection .container{
}

body.selection hr{
	opacity: 0;
}

body.selection .col-md-5{
	top: 80px;
	right: 50px;
	width: 400px;
}

body.selection h3{
	color: #D4E9FF;
	font-family: circularbold;
	margin-bottom: 20px;
}

body.selection .description{
	color: #FFFFFF;
	font-family: circularbook;
	margin-bottom: 20px;
}

body.selection .note{
	color: #FFFFFF;
	font-family: circularbold;
	margin-bottom: 20px;
	font-size: 18px;
}

body.selection .next{
	position: absolute;
	color: #FFFFFF;
	font-family: circularbold;
	font-size: 25px;
	top: 450px;
	left: 300px;
}

body.selection .next:hover{
	text-decoration: none;
}

body.selection .sous{
	position: absolute;
	width: 35px;
	height: 5px;
	background-color: #FFFFFF;
	top: 485px;
	left: 300px;
}


body.selection .inputcheck{
  display: none;
}

body.selection .checkbox {
  height: 40px;
  width: 110px;
  border: 3px solid #D4E9FF;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  font-family: circularbold;
  padding-top: 4px;
  transition: 300ms all;
}

body.selection .checkbox a{
	  color: #FFFFFF;
	  text-decoration: none;
}

body.selection label {
	position: relative;
		right: 9px;
}

body.selection .checkbox:hover {
	transition: 300ms all;
	background: #D4E9FF;
	color: #091E34;
}

body.selection .checkbox:hover a{
	transition: 300ms all;
	color: #091E34;

}


body.selection .circle1{
	position: fixed;
	width: 480px;
	height: 480px;
	border-radius: 100%;
	background-color: transparent;
	opacity: 1;
	border:2px solid #39474F;
	top: 120px;
	left: 230px;
	opacity: 0;
	-webkit-animation: wave 2.5s;
 	-moz-animation: wave 2.5s;
 	animation: wave 2.5s;
 	animation-delay: 0s;
 	animation-iteration-count : infinite;
 	animation-play-state:running;
}

body.selection .circle2{
	position: fixed;
	width: 800px;
	height: 800px;
	border-radius: 100%;
	background-color: transparent;
	opacity: 1;
	border:2px solid #39474F;
	top: -40px;
	right: 570px;
	opacity: 0;
	-webkit-animation: wave 2.5s;
 	-moz-animation: wave 2.5s;
 	animation: wave 2.5s;
 	animation-delay: 0.5s;
 	animation-iteration-count : infinite;
 	animation-play-state:running;
}

body.selection .circle3{
	position: fixed;
	width: 1100px;
	height: 1100px;
	border-radius: 100%;
	background-color: transparent;
	opacity: 1;
	border:2px solid #39474F;
	bottom: -170px;
	right: 390px;
	opacity: 0;
	-webkit-animation: wave 2.5s;
 	-moz-animation: wave 2.5s;
 	animation: wave 2.5s;
 	animation-delay: 1s;
 	animation-iteration-count : infinite;
	animation-play-state:running;
}

body.selection .circle4{
	position: fixed;
	width: 1300px;
	height: 1300px;
	border-radius: 100%;
	background-color: transparent;
	opacity: 1;
	border:2px solid #39474F;
	bottom: -270px;
	right: 190px;
	opacity: 0;
	-webkit-animation: wave 2.5s;
 	-moz-animation: wave 2.5s;
 	animation: wave 2.5s;
 	animation-delay: 1.5s;
 	animation-iteration-count : infinite;
	animation-play-state:running;
}

body.selection .circle5{
	position: fixed;
	width: 1600px;
	height: 1600px;
	border-radius: 100%;
	background-color: transparent;
	opacity: 1;
	border:2px solid #39474F;
	bottom: -400px;
	right: -10px;
	opacity: 0;
	-webkit-animation: wave 2.5s;
 	-moz-animation: wave 2.5s;
 	animation: wave 2.5s;
 	animation-delay: 2s;
 	animation-iteration-count : infinite;
  	animation-play-state:running;
}

@-webkit-keyframes wave {
  0% {
	opacity: 0;
  }
   50% {
	opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes wave{
  0% {
	opacity: 0;
  }
   50% {
	opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wave{
  0% {
	opacity: 0;
  }
   50% {
	opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

body.selection h1{
	position: absolute;
	color: #FFFFFF;
}
