@font-face {
    font-family:'light';
    src:url(../fonts/Avenir-Light.ttf);
}
@font-face {
    font-family:'roman';
    src:url(../fonts/Avenir-Roman.ttf);
}

@font-face {
    font-family:'avenir';
    src:url(../fonts/Avenir.ttc);
}

@font-face {
    font-family:'heavy';
    src:url(../fonts/Avenir-Heavy.ttf);
}

@font-face {
    font-family: circularbold;
    src: url(../fonts/circularbold.otf);
}
@font-face {
    font-family: circularbook;
    src: url(../fonts/circularbook.ttf);
}

body {
    font-family: 'light';
    font-size:14px;
    background-color: #0c1e30;
}

.logo {
    margin-top: -15px;
    width: 25px;
    margin-left: -50px;
    z-index: 500;
}


.navbar{
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding-top: 10px;
    background-color: #3c4a59;
    border: none !important;
    z-index: 99999;
}

.navbar a{
    color: #FFFFFF !important;
    font-family: circularbook !important;
    font-size: 16px;
}

.navbar a:hover {
    color: #D3E9FF !important;
    font-family: circularbook !important;
}

.nav li{
    margin-left: 20px;
    color: #FFFFFF;
}

.navbar .setups {
    right: 0;
    font-size: 50px;
}

.nav .salutation{
    color: #9d9d9d;

    font-family: light;
    font-size: 16px;
}
